@model ControleFinanceiroPessoal.Models.CategoriaInvestimento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CategoriaInvestimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeInvestimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeInvestimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxaJuros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxaJuros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JurosAnual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JurosAnual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCategoriaInvestimento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
