@model ControleFinanceiroPessoal.Models.Despesa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Despesa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaFinanceira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaFinanceira.IdContaFinanceira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagamentoRealizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagamentoRealizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recorrente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recorrente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intervalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intervalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroParcelas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroParcelas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParcelasRestantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParcelasRestantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDespesa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
