@model ControleFinanceiroPessoal.Models.ContaFinanceira

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContaFinanceira</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoConta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeInstituicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeInstituicao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdContaFinanceira">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
